<html>
<head>
        <title>g10b - Get your lab!</title>
</head>
<body>
<h1>Welcome to your lab!</h1>
  <h2>Via proxy</h2>
    <% @pass.each do |p| -%>
      <h3><a href="http://<%= @project %>.<%= @domain %><%= p['path']  %>/"><%= p['path'].to_s[1.. -1]  %></a></h3>
    <% end -%>

  <h2>Direct links</h2>
    <% @pass.each do |p| -%>
      <h3><a href="<%= p['url'] %>"><%= p['path'].to_s[1.. -1]  %></a></h3>
    <% end -%>
</body>
</html>